<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <p>Dorchester Euro Café brings together people who believe that the UK should re-join the European Union</p>
        <p>We’re part of cross-party campaign group <a href="https://dorsetforeurope.org.uk">Dorset for Europe</a> and linked to the <a href="https://www.europeanmovement.co.uk/home">European Movement</a></p>
        <p>We think that Brexit has been catastrophic for the UK and for individuals, families and businesses who now face numerous barriers to living, working, doing business and retiring in the EU</p>
        <p>Our monthly gatherings are warm, welcoming and social. We provide space to find support, share information, or just have a friendly chat with like-minded people</p> 
        <p>We also make time to discuss various issues and – for those that want to – plan and deliver campaigning activities</p>
        <p><i class="fa-brands fa-readme fa-xl"></i><a href="https://www.dorsetecho.co.uk/news/23414355.dorchester-cafe-meet-up-campaigners-wanting-rejoin-eu"> Read about our recent Euro Café event in the Dorset Echo</a></p>
      </div>

      </div>
    </div>
  </div>
</section>
