<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-centre">
        <img class="img-responsive" src="img/group-photo.jpg" alt="profile-pic" />

        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-primary-header" />
          <div class="col-12">

          <h4>Plotting the route to rejoining the European Union<br/>through coffee, cake and conversation</h4>
        </div>

      </div>
    </div>
  </div>
</header>
