<!-- News Section -->
<section class="success" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>News</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <h3>Happy? Not so much!</h3><br/>
                <img class="img-responsive" src="img/IMG_5887.jpg" alt="profile-pic"><br/>
                
                <p>Dorchester Euro Café members took to the streets on Saturday 23rd March 2024 – the national Day for Rejoin - to take the temperature on happiness.</p>

                <p>We spoke with lots of people at our street stall in South Street, Dorchester to ask people about how they’re feeling on a range of issues, including the state of the NHS, the cost of living and the UK’s place in the world since we left the EU. The answer was, overwhelmingly, that things have got worse.</p>

                <img class="img-responsive" src="img/map_europe.jpg" alt="profile-pic"><br/>                

                <p>We took the opportunity to raise awareness and share information on related issues including the need for voter registration and ID, finding out who your local MP is and how they voted, joining the European Movement, fand, of course, coming along to Dorchester Euro Café.</p>

                <p><strong>Why not come along and join us?</strong><p>

                <p>If you would like to know more, please contact <a href="mailto:rachel@dorchestereurocafé.org.uk">rachel@dorchestereurocafé.org.uk</a><p>  

                    <div class="col-lg-12 text-center">
                        <hr class="star-primary">
                        
                    </div>                  

                <h3>How happy are you?</h3>

                <p>We’re organising a street stall 11am to 1pm Saturday 23rd March 2024 in South Street, Dorchester to ask people about how they’re feeling on a range of issues, including the state of the NHS, the cost of living and the UK’s place in the world since we left the EU.</p>

                <p>We’ll also be raising awareness and sharing information on related issues including the need for voter registration and ID, inding out who your local MP is and how they voted, joining the European Movement, fand, of course, coming along to Dorchester Euro Café.<p>

                <p><strong>Why not come along and join us?</strong><p>

                <p>If you would like to know more, please contact <a href="mailto:rachel@dorchestereurocafé.org.uk">rachel@dorchestereurocafé.org.uk</a><p>    

                    <div class="col-lg-12 text-center">
                        <hr class="star-primary">
                        
                    </div>      
     
                <h3>Happy 1st Birthday Dorchester Euro Café!</h3><br/>
                <img class="img-responsive" src="img/birthday_cake.jpg" alt="profile-pic"><br/>

                <p>Dorchester Euro Café celebrated its’ first anniversary on 24th February 2024 with our usual ingredients - coffee, (birthday) cake, and conversation.</p>

                <p>The Euro Café started as a one-off event in February 2023, but attendance was so good it has continued as a regular, monthly event.</p>

                <p>Rachel Lawrence, who organises Dorchester Euro Café in partnership with Dorset for Europe, said: “It’s a year on from our first Dorchester Euro Café and the catastrophic impacts of the UK’s withdrawal from the EU on people in Dorset are becoming ever clearer.”</p>

                <p>“The barriers to trade and free movement of people created by Brexit, have made life much harder for everyone."</p>

                <p>“The post-Brexit border checks finally introduced in January are adding to farmers’ woes with UK exports of beef and pork down by more than 20%. The retail and hospitality sectors are finding it harder to recruit and retain workers, whilst social care providers now have to pay to sponsor much-needed workers from overseas, including people from the EU who would previously have come to the UK under their own steam.”</p>
            
            </div>

        </div>
    </div>
</section>
