<!-- Meetings section -->
<section id="meetings">
  <div class="container">
    <div class="col-lg-12 text-center">
        <h2>Meetings</h2>
        <hr class="star-primary">
      </div>
    <h3>Euro Cafe meetings coming up</h3>  

{% assign meetings = site.data.meetings | sort: 'date' %}

{% for meeting in meetings %}
  {% if meeting.date >= site.time %}
    <h2>Next meeting:</h2>
    <h3>{{ meeting.date | date: "%B %d, %Y" }}</h3>
    <p>Time: {{ meeting.time }}</p>
    <p>Location: {{ meeting.location }}</p>
    <p>Details: {{ meeting.details }}</p>
    {% break %}
  {% endif %}
{% endfor %}
    
  </div>  
</section>
